[Unit]
Description=Discord Bot Flecky

[Service]
Type=notify
# will set the Current Working Directory (CWD). Worker service will have issues without this setting
WorkingDirectory=/opt/Releases/fleckybot
# This environment variable is necessary when dotnet isn't loaded for the specified user.
# To figure out this value, run 'env | grep DOTNET_ROOT' when dotnet has been loaded into your shell.
Environment=DOTNET_ROOT=/home/thomas/.dotnet
Environment=ASPNETCORE_ENVIRONMENT=Production
# systemd will run this executable to start the service
# if /usr/bin/dotnet doesn't work, use `which dotnet` to find correct dotnet executable path
ExecStart=/usr/bin/dotnet /opt/Releases/fleckybot/Bot.dll
# to query logs using journalctl, set a logical name here
SyslogIdentifier=FleckyBot

# Use your username to keep things simple.
# If you pick a different user, make sure dotnet and all permissions are set correctly to run the app
# To update permissions, use 'chown yourusername -R /srv/HelloWorld' to take ownership of the folder and files,
#       Use 'chmod +x /srv/HelloWorld/HelloWorld' to allow execution of the executable file
User=thomas

# ensure the service restarts after crashing
Restart=always
# amount of time to wait before restarting the service
RestartSec=5

[Install]
WantedBy=multi-user.target