@inherits LayoutComponentBase

<PageTitle>FleckyBot - Admin Dashboard</PageTitle>

<div id="pcoded" class="pcoded">
    <div class="pcoded-overlay-box"></div>
    <div class="pcoded-container navbar-wrapper">
        <NavMenuTop />

        <div class="pcoded-main-container">
            <div class="pcoded-wrapper">
                <NavMenuSide />

                <div class="pcoded-content">
                    <div class="pcoded-inner-content">
                        <div class="main-body">
                            @Body
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>