<ul>
    <li><a href="" class="active">Home</a></li>
    <AuthorizeView>
        <Authorized>
            <li><a href="discord/tickets">Tickets</a></li>
            <li><a href="discord/guilds">Guilds</a></li>
            <li><a href="discord/images">Images</a></li>
            <li><a href="#">Hello @context.User.Identity?.Name!</a></li>
            <li><a href="Account/LogOut">Logout</a></li>
        </Authorized>
        <NotAuthorized>
            <li><a href="Account/Login">Login</a></li>
        </NotAuthorized>
    </AuthorizeView>
</ul>