@page "/discord/tickets"
@attribute [Authorize]

<PageTitle>Tickets Manager</PageTitle>

@using Bot.Models
@using Bot.Services
@inject TicketService TicketService

<div class="page-wrapper">
    <!-- Page-header start -->
    <div class="page-header card">
        <div class="row align-items-end">
            <div class="col-lg-8">
                <div class="page-header-title">
                    <i class="icofont icofont icofont icofont-table bg-c-pink"></i>
                    <div class="d-inline">
                        <h4>List of Tickets</h4>
                        <span>Here you can see a list of tickets that are in the database</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="page-header-breadcrumb">
                    <ul class="breadcrumb-title">
                        <li class="breadcrumb-item">
                            <a href="/">
                                <i class="icofont icofont-home"></i>
                            </a>
                        </li>
                        <li class="breadcrumb-item"><a href="#!">Discord</a>
                        </li>
                        <li class="breadcrumb-item"><a href="#!">Tickets</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Page-header end -->

    <div class="page-body">
        <div class="card">
            <div class="card-block table-border-style">
                @if (tickets == null)
                {
                    <p><em>Loading...</em></p>
                }
                else
                {
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Ticket Name</th>
                                    <th>Ticket Opener</th>
                                    <th>Is Open?</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var ticket in tickets)
                                {
                                    <tr>
                                        <td><a href="/discord/tickets/@ticket.Id">@ticket.channelName</a></td>
                                        <td>@ticket.userName</td>
                                        @if (ticket.isClosed)
                                        {
                                            <td>❌</td>
                                        }
                                        else
                                        {
                                            <td>✔</td>
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@code {
    private List<Ticket>? tickets;

    protected override async Task OnInitializedAsync()
    {
        tickets = await TicketService.GetAsync();
    }
}